<p>child component component start</p>
<!-- Interpolation binding (ts to html)-->
<!-- variable binding using interpolation-->
<!-- <p>Child Compoent started</p> -->
<!-- <p>{{title}}</p> -->
<!-- image binding using interpolation-->
<!-- <img src="{{itemImageUrl}}"> -->
<!-- computation using interpolation-->
<!-- <p>The sum of 1 + 1 is {{1 + 1}}.</p> -->

<!--property Binding-->
<!-- image binding using Property Binding-->
<!-- <img [src]="itemImageUrl">
<br> -->
<!-- Property Binding alternative syntax-->
<!-- <img bind-src="itemImageUrl">
<br /> -->
<!-- image binding using Property Binding-->
<!-- <mat-form-field>
  <mat-label>First Name</mat-label> -->
  <!-- <input [disabled]="isUnchanged" matInput placeholder="Peter"> -->
  <!-- <input (keyup)="onKey($event)" matInput placeholder="keyUp"> -->
  <!-- <input (keydown.tab)="tabout($event)" matInput placeholder="taboutkeydown">
</mat-form-field>
<mat-form-field>
  <mat-label>First Name2</mat-label>
  <input  matInput placeholder="normal input">
</mat-form-field>
<mat-form-field>
  <mat-label>First Name1</mat-label>
  <input (keyup.tab)="tabout1($event)" (keydown.tab)="tabout($event)" matInput placeholder="taboutkeyup">
</mat-form-field>
<br>
<mat-radio-group aria-label="Select Gender">
  <mat-radio-button [style.font-size]="amar" (change)="selected($event)" value="1">Male</mat-radio-button>
  <mat-radio-button [style] = "styleExpr" (change)="unselected($event)" value="2">Female</mat-radio-button>
  <mat-radio-button  [class] = "classExpr" (change)="unselected($event)" value="3">None</mat-radio-button>
</mat-radio-group>
<br>
<button [disabled]="isUnchanged" (click)="display()" mat-raised-button color="primary">Primary</button>
<button  on-click="secondDisplay($event)" mat-raised-button color="primary">Secondary</button> -->
<!-- <p>Two way Bindings</p> -->
<!-- <p>Property Binding[](ts to html) and Event Binding()(html to ts)</p>
      <p>ng model - model binding - two way </p>
<div>{{hello}}</div>
  <mat-form-field>
    <mat-label>Input</mat-label>
      <input matInput [(ngModel)]="hello">
  </mat-form-field> -->
  <!--
    <p>ng style - conditional styling </p>
    <div>
    <mat-checkbox [(ngModel)]="canSave" (change)="setCurrentStyles()">Is Normal</mat-checkbox>
    <mat-checkbox [(ngModel)]="isUnchanged" (change)="setCurrentStyles()">is Bold</mat-checkbox>
    <mat-checkbox [(ngModel)]="isSpecial" (change)="setCurrentStyles()">is 24px</mat-checkbox>
  </div>

<P [ngStyle]="currentStyles">Hello this is ng style</P> -->
<!-- <p>ng class - conditional class styling </p>

<div>
  <mat-checkbox [(ngModel)]="canSave" (change)="setCurrentClass()">Is Red Color and font size is large</mat-checkbox>
  <mat-checkbox [(ngModel)]="isUnchanged" (change)="setCurrentClass()" >is position right</mat-checkbox>
</div>
<div [ngClass]="currentClasses">styling using ng class</div> -->
<P>Built-in structural directives</P>
<p>Condition if changes</p>
<div>
  <mat-checkbox [(ngModel)]="isDisplay" >Is Display</mat-checkbox>
</div>
<mat-form-field *ngIf="isDisplay">
  <mat-label>Input</mat-label>
  <input  matInput placeholder="Enter Input" [(ngModel)]="condition" type="email" >
</mat-form-field>
<mat-form-field>
  <mat-label>Input</mat-label>
  <input matInput placeholder="Enter Input1" [(ngModel)]="condition1">
</mat-form-field>

<div *ngIf="isDisplay">Hello world</div>
<div *ngIf="condition == 1">Input 1</div>
<div *ngIf="condition == 2">Input 2</div>
<div *ngIf="condition == 3">Input 3</div>
<div *ngIf="condition1 === 'abc'">Input abc</div>

  <input matInput *ngIf="isDisplay">
  <ul>
    <li *ngFor="let item of items">{{item}}</li>
  </ul>
  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select (selectionChange)="onFoodSelection($event.value)">
      <mat-option *ngFor="let food of foods" [value]="food.value" >
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<p>child component ended</p>
